html, body {
    min-height: 100%;
    margin: 0;
    padding: 0;
}
body {
    background-color: black;
    color: red;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
/* .owo-display {
    padding: 25vh;
} */
#owo {
    font-size: 8rem;
}

.btn {
    background-color: red;
    color: #fff;
    border: none;
    padding: 1rem 2rem;
    cursor: pointer;
    transition: background-color .3s, transform .3s;
}
.btn:hover {
    background-color: #900;
}
.btn:active {
    transform: translateY(4px);
}

#feed,
#sleep,
#play {
    display: none;
}